.btn {
  background-color: $warning-500;
  color: $primary-50;
  border-radius: $radius-xs;
  box-shadow: $shadow;
  padding: 1rem 1.7rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;

  &:hover {
    background-color: $warning-600;
  }

  &:active {
    transform: scale(0.9);
    box-shadow: none;
  }

  &--hero {
    font-size: 2rem;

    @media screen and (max-width: $breakpoint-1200) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $breakpoint-960) {
      font-size: 1.6rem;
    }
  }

}