@import "../../abstracts/variables";

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  &__container {
    h4 {
      text-align: center;
      text-shadow: $shadow;
      font-size: 3.1rem;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.5rem;
      }
    }

    a {
      font-size: 1.5rem;
      color: $third-400;
    }

    address {
      margin-top: 2rem;
      margin-left: 5rem;
      font-style: normal;
      line-height: 2.5rem;
      display: flex;
      align-items: baseline;

      div#leftAddress {
        flex: 1;

        dl:nth-of-type(2) {
          display: flex;
          flex-direction: row;
        }
      }

      div#rightAddress {
        flex: 1;
        display: flex;
        flex-direction: column;

        dl {
          display: inline-flex;
          flex-direction: row;
        }
      }

      @media screen and (max-width: $breakpoint-500) {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
      }
    }

    //   div {
    //     flex: 1;

    //     @media screen and (max-width: $breakpoint-500) {
    //       justify-content: center;
    //     }

    //   }
    // }
  }

  &__mapContainer {
    height: 27rem;
    position: relative;
  }
}
