@import '../../abstracts/variables';
@import './address';
@import './form';

.contact {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: row;
    width: $globalWidth-1920;
    justify-content: space-between;
    padding: 5rem 0;

    @media screen and (max-width: $breakpoint-1200) {
      width: $globalWidth-1400;
    }

    @media screen and (max-width: $breakpoint-960) {
      flex-direction: column;
      padding: 4rem 7rem;
    }

    @media screen and (max-width: $breakpoint-630) {
      padding: 4rem 5rem;
    }

    @media screen and (max-width: $breakpoint-630) {
      padding: 4rem 2rem;
    }

    @media screen and (max-width: $breakpoint-500) {
      padding: 4rem 1rem;
    }
  }

  &__leftContainer {
    padding: 2rem;
    flex: 1
  }

  &__rightContainer {
    padding: 2rem;
    flex: 1
  }
}