@import '../abstracts/variables';

.airConditioners {

  background-color: $secondary-500;

  &__container {
    width: $globalWidth-1920;
    margin: 0 auto;
    padding: 5rem 0;

    @media screen and (max-width: $breakpoint-1200) {
      width: 90%;
      padding: 5rem 2rem;
    }

    h2,
    h2,
    h3,
    h4 {
      padding: 1rem 0;
      text-shadow: $shadow;
    }

    h2 {
      font-size: 3.5rem;
      padding: 1rem 0;
    }

    h3 {
      font-size: 2.7rem;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.5rem;
      }
    }

    h4 {
      font-size: 2.5rem;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.2rem;
      }
    }

    p {
      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;

      }
    }



    ul li {
      font-size: 2rem;
      margin-left: 1rem;

      &::before {
        content: '\2713';
        font-size: 2.5rem;
        color: $third-300;
        display: inline-block;
      }

      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;
      }
    }

    .climaSchema {
      border-radius: 1rem;
      box-shadow: $shadow;
      width: 60rem;
      height: 36.9rem;
      display: block;
      margin: 2rem auto;

      @media screen and (max-width: $breakpoint-960) {
        width: 45rem;
        height: 27.63rem;
      }

      @media screen and (max-width: $breakpoint-630) {
        display: none;
      }
    }
  }

}