@import '../abstracts/variables';

.privacyPolicy {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-500;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: $globalWidth-1920;
    margin: 5rem 0;

    @media screen and (max-width: $breakpoint-1200) {
      width: 95%;
      padding: 0 2rem;
    }

    strong {
      font-weight: 700;
    }

    a {
      font-size: 2rem;
      color: $third-300;
    }

    dd {
      font-size: 2rem;
      margin-left: 1rem;
      color: $third-300;
      line-height: 3rem;

      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;

      }
    }

    h1 {
      font-size: 3.5rem;
      text-shadow: $shadow;
      margin-bottom: 2rem;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      text-shadow: $shadow;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.2rem;
      }
    }

    h3 {
      font-size: 2.7rem;
      text-shadow: $shadow;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.5rem;
      }
    }

    h4 {
      font-size: 2.5rem;
      text-shadow: $shadow;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 2.2rem;
      }
    }

    ul li {
      font-size: 2rem;
      list-style-type: disc;
      margin-left: 3rem;
      letter-spacing: .1rem;

      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;
      }
    }

    ol li {
      font-size: 2rem;
      list-style-type: decimal;
      margin-left: 3rem;
      letter-spacing: .1rem;
      line-height: 3rem;

      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;
      }
    }

    a,
    i,
    p,
    strong {
      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        font-size: 1.7rem;

      }
    }

    .pumpSchema {
      width: 60rem;
      height: 36.9rem;
      margin: 2rem auto;

      @media screen and (max-width: $breakpoint-960) {
        width: 45rem;
        height: 27.63rem;
      }

      @media screen and (max-width: $breakpoint-630) {
        display: none;
      }
    }

    figure {
      display: flex;
      flex-direction: row;
      gap: 7rem;
      justify-content: center;

      @media screen and (max-width: $breakpoint-630) {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
      }

      img {
        margin: 2rem 0;
        width: 40rem;
        height: 40rem;
        border-radius: 1rem;
        box-shadow: $shadow;

        @media screen and (max-width: $breakpoint-1200) {
          width: 30rem;
          height: 30rem;
        }

        @media screen and (max-width: $breakpoint-960) {
          width: 25rem;
          height: 25rem;
        }

        @media screen and (max-width: $breakpoint-500) {
          width: 20rem;
          height: 20rem;
        }
      }
    }

    .block {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin: 1rem 0;

      @media screen and (max-width: $breakpoint-630) {
        flex-direction: column;
        align-items: center;
      }

      &.block--reverse {
        @media screen and (max-width: $breakpoint-630) {
          flex-direction: column-reverse;
          align-items: center;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }

      img {
        border-radius: 1rem;
        box-shadow: $shadow;
        width: 40rem;
        height: 40rem;

        @media screen and (max-width: $breakpoint-1200) {
          width: 35rem;
          height: 35rem;
        }

        @media screen and (max-width: $breakpoint-960) {
          width: 30rem;
          height: 30rem;
        }

        @media screen and (max-width: $breakpoint-630) {
          width: 25rem;
          height: 25rem;
        }

        @media screen and (max-width: $breakpoint-500) {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }
}