@import '../abstracts/variables';

.header {
  display: flex;
  justify-content: center;

  &>div {
    width: $globalWidth-1920;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a {
        margin-left: 2rem;
        font-weight: 500;
        font-size: 1.5rem;
        transition: all .2s ease-in;

        &:hover {
          color: $third-400;
        }
      }
    }

    nav {
      height: 7rem;
      display: flex;
      align-items: center;
    }

    nav ul {
      display: flex;
      flex-direction: row;

      li:not(:last-child) a {
        transition: all .2s ease-out;

        &:hover {
          color: $third-400;
          text-decoration: underline;
        }
      }

      a {
        font-weight: 500;
        padding: 10px 10px;
        font-size: 1.5rem;
      }
    }
  }
}