@import '../abstracts/variables';

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 7rem;
  background-color: $primary-400;
  width: 100%;
  z-index: 1;

  &>div {
    width: $globalWidth-1920;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $breakpoint-1200) {
        margin-left: 2rem;
      }

      a.phone {
        margin-left: 2rem;

        @media screen and (max-width: $breakpoint-1200) {
          font-size: 2rem;
        }

        @media screen and (max-width: $breakpoint-500) {
          display: none;
        }

      }

      a {
        margin-left: 0rem;
        font-weight: 700;
        font-size: 1.5rem;
        transition: all .2s ease-in;

        &:hover {
          color: $third-400;
        }


      }
    }

    nav {

      display: flex;
      align-items: center;

      @media screen and (max-width: $breakpoint-1200) {
        display: none;
      }

    }



    nav ul {
      display: flex;
      flex-direction: row;
      margin-right: 1rem;
      height: 7rem;

      li {
        display: flex;
        align-items: center;
        height: 7rem;
        transition: all .2s ease-in;

        &:hover {
          background-color: $primary-500;
        }
      }

      a {
        font-weight: 500;
        padding: 1rem 1rem;
        font-size: 1.5rem;
      }
    }
  }
}