@import '../abstracts/variables';

section.hero {
  display: flex;
  justify-content: center;

  .heroContainer {
    display: flex;
    align-items: center;
    max-width: $globalWidth-1920;
    padding: 20rem 0 10rem 0;
    gap: 4rem;
    width: 80%;


    .imageContainer {
      width: 100%;
    }

    @media screen and (max-width: $breakpoint-1440) {
      h1 {
        font-size: 6rem;
      }

      padding: 15rem 0 10rem 0;
    }

    @media screen and (max-width: $breakpoint-1200) {

      h1 {
        font-size: 5rem;
      }

      li span {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    @media screen and (max-width: $breakpoint-960) {
      flex-direction: column;
      width: 80%;
      padding: 12rem 0 10rem 0;


      h1 {
        font-size: 6rem;
      }

      li span {
        font-size: 1.7rem;
        line-height: 2rem;
      }


      .imageContainer {
        width: 70%;
      }
    }

    @media screen and (max-width: $breakpoint-630) {
      flex-direction: column;
      width: 80%;


      h1 {
        font-size: 4.5rem;
      }

      li span {
        font-size: 1.6rem;
        line-height: 2rem;
      }

      .imageContainer {
        width: 90%;
      }
    }

    @media screen and (max-width: $breakpoint-500) {
      flex-direction: column;
      width: 80%;

      h1 {
        font-size: 3.4rem;
      }

      li span {
        font-size: 1.4rem;
      }
    }
  }

  .heroLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    li {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      &::before {
        content: '\2713';
        font-size: 3rem;
        color: $third-300;
        display: inline-block;

        @media screen and (max-width: $breakpoint-960) {
          font-size: 2rem;
        }
      }

      span {
        margin-left: 1rem;
        font-size: 2rem;
        line-height: 3.3rem;
      }
    }
  }

  h1 {

    span {
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;

      background-color: $third-400;
      display: inline;
      position: relative;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      text-shadow: 2px 0px 2px $warning-600;
    }
  }

  .imageContainer {
    position: relative;
    width: 90%;
    overflow: hidden;
    filter: drop-shadow($shadow);

    .aspectRatioKeeper {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;

      img.heroImage {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}