@import '../abstracts/variables';

.logos {
  display: flex;
  justify-content: center;
  gap: 4rem;
  background-color: $secondary-300;
  padding: 6rem 0;

  @media screen and (max-width: $breakpoint-630) {
    flex-direction: column;

    a img {
      width: 100%;
    }
  }

  .logos__one,
  .logos__two {
    display: flex;
    gap: 3rem
  }

  @media screen and (max-width: $breakpoint-1200) {
    gap: 2rem;

    a img {
      width: 100%;
    }

    .logos__one,
    .logos__two {
      flex-direction: column;
    }

  }

}