@import '../abstracts/variables';

.movies {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: $globalWidth-1920;
    padding: 5rem 0 7rem 0;

    @media screen and (max-width: $breakpoint-1200) {
      padding: 5rem 10rem 5rem 10rem;
    }

    @media screen and (max-width: $breakpoint-960) {
      padding: 5rem;
    }

    @media screen and (max-width: $breakpoint-500) {
      padding: 5rem 2rem 5rem 2rem;
    }

    h2 {
      font-size: 3.5rem;
      text-shadow: $shadow;

      @media screen and (max-width: $breakpoint-500) {
        font-size: 3rem;
      }
    }

    p {
      width: 50%;
      margin-bottom: 1rem;
      line-height: 3rem;

      @media screen and (max-width: $breakpoint-1200) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: $breakpoint-960) {
        width: 70%;
      }

      @media screen and (max-width: $breakpoint-630) {
        width: 80%;
        font-size: 1.6rem;
      }

      @media screen and (max-width: $breakpoint-630) {
        width: 100%;
        padding: 0 5rem;
      }

      @media screen and (max-width: $breakpoint-500) {
        width: 100%;
        padding: 0 2rem;
      }
    }

    .videoContainer {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;

      img {
        border-radius: 1rem;
        box-shadow: $shadow;
      }

      .play {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    iframe {
      border-radius: 1rem;
      box-shadow: $shadow;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}