@import '../abstracts/variables';

.testimonials {
  background-color: $primary-600;
  padding: 5rem 0rem;

  h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  &__container {
    width: $globalWidth-1920;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-1440) {
      width: 100%;
    }
  }
}