@import "../../abstracts/variables";

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 2rem;
  width: 26rem;

  img {
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: $shadow;
  }

  p {
    font-size: 1.6rem;
    letter-spacing: -0.1px;
  }

  h3 {
    font-size: 2rem;
    text-shadow: $shadow;
  }

  p,
  h3 {
    text-align: center;
  }
}
