@import '../../abstracts/variables';
@import './serviceItem';

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 7rem 0;
  background-color: $secondary-400;

  h2 {
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: $shadow;
    text-align: center;

    @media screen and (max-width: $breakpoint-500) {
      font-size: 3rem;
    }
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: $globalWidth-1920;

    @media screen and (max-width: $breakpoint-1440) {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      gap: 2rem;
    }

    @media screen and (max-width: $breakpoint-1200) {
      grid-template-columns: repeat(2, 1fr);
      width: 65%;
    }

    @media screen and (max-width: $breakpoint-960) {
      width: 80%;
    }

    @media screen and (max-width: $breakpoint-630) {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  }
}