@import 'abstracts/variables';

body {
  font-family: Ubuntu, sans-serif;
  background-color: $primary-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $third-500;
  font-weight: 600;
  padding: 1rem 0;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: $third-500;
  font-size: 1.9rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 7.629rem;
  letter-spacing: -.5rem;
  font-weight: 700;
}

h2 {
  font-size: 6.103rem;
  font-weight: 700;
}

h3 {
  font-size: 4.882rem;
  font-weight: 700;
}

h4 {
  font-size: 3.906rem;
  font-weight: 700;
}

h5 {
  font-size: 3.125rem;
  font-weight: 700;
}

h6 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 200;
  color: $third-400;
}

li {
  line-height: 3.5rem;
  padding: 0.5rem 0;
  padding: 0;
  list-style-type: none;
  color: $third-400;
}

ol,
ul {
  list-style-type: none;
  margin-bottom: 1rem;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}